@import "src/styles/mixins";

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.create-card-input {
  padding-bottom: 20px;
}

.create-card-btn-wrapper {
  @include flex-center;
  gap: 20px;
}

.mat-flat-button {
  height: 38px;
}
