<mat-card>
  <mat-card-content>
    <form (submit)="onCreateCardClick()" [formGroup]="createCardForm">
      <h2>Create new card</h2>

      <mat-form-field class="create-card-input">
        <input matInput formControlName="title" placeholder="Title" #title [errorStateMatcher]="matcher">
        <mat-error *ngIf="!createCardForm.get('title')?.value">
          Please enter a title
        </mat-error>
        <mat-error *ngIf="createCardForm.get('title')?.invalid && createCardForm.get('title')?.value">
          {{printTitleError(title.value.length)}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="create-card-input">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngIf="createCardForm.get('description')?.invalid">
          The description is too long (max 255 symbols)
        </mat-error>
      </mat-form-field>

      <mat-form-field class="create-card-input" >
        <mat-label>Img</mat-label>
        <input matInput formControlName="img" [errorStateMatcher]="matcher">
        <mat-error *ngIf="!createCardForm.get('img')?.value">
          Please enter a link to the image
        </mat-error>
        <mat-error *ngIf="createCardForm.get('img')?.invalid && createCardForm.get('img')?.value">
          The image link is invalid
        </mat-error>
      </mat-form-field>

      <mat-form-field class="create-card-input">
        <mat-label>Video Link</mat-label>
        <input matInput formControlName="videoLink" type="text" [errorStateMatcher]="matcher">
        <mat-error *ngIf="!createCardForm.get('videoLink')?.value">
          Please enter a link to the video
        </mat-error>
        <mat-error *ngIf="createCardForm.get('videoLink')?.invalid && createCardForm.get('videoLink')?.value">
          The video link is invalid
        </mat-error>
      </mat-form-field>

      <mat-form-field class="create-card-input">
        <mat-label>Creation Date (YYYY-MM-DD)</mat-label>
        <input matInput formControlName="date" [errorStateMatcher]="matcher">
        <mat-error *ngIf="!createCardForm.get('date')?.value">
          Please enter a creation date
        </mat-error>
        <mat-error *ngIf="createCardForm.get('date')?.errors?.['invalidFutureDate'] && createCardForm.get('date')?.value">
          Date can't be in the future
        </mat-error>
        <mat-error *ngIf="createCardForm.get('date')?.errors?.['invalidDateFormat'] && createCardForm.get('date')?.value">
          Please enter a valid date
        </mat-error>
      </mat-form-field>

      <div class="create-card-btn-wrapper">
        <a class="login-link" href="#">Log in</a>
        <button mat-flat-button class="btn" [disabled]="createCardForm.invalid">Create card</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
