@import "src/styles/mixins";
@import "src/styles/variables";

.sorting-wrapper {
  @include small-font;
  @include flex-center;
  background: $background-grey;
  gap: 11px;
  height: 50px;
}

.sorting {
  &__title {
    color: $text-grey;
    margin: 0;
  }

  &__option-btn,
  &__option {
    background: none;
    border: none;
    padding: 0;
    color: $main-blue;
  }

  &__option {
    text-decoration: none;
    cursor: auto;
  }

  &__option-text {
    text-decoration: underline;
    cursor: pointer;
  }

  &__arrow {
    text-decoration: none;
    padding-left: 3px;
  }

  &__input {
    background: #FFFFFF;
  }

}
