@import "variables";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin icon-font {
  font: 400 10px/12px $font-family ;
}

@mixin small-font {
  font: 400 12px/14px $font-family;
}

@mixin medium-font {
  font: 400 16px/19px $font-family ;
}

@mixin title-font {
  font: 700 20px/23px $font-family;
  color: #4F4F4F;
}

@mixin description-title-font {
  font: 700 24px/28px $font-family;
  color: $text-black;
}

@mixin card-footer {
  margin: 0;
  padding: 0;
  height: 5px;
  border-radius: 0 0 5px 5px;
  background-color: $main-blue;

  &--green {
    background-color: $green-line;
  }

  &--yellow {
    background-color: $yellow-line;
  }

  &--red {
    background-color: $red-line;
  }
}

@mixin back-btn {
  &--green {
    background-color: $green-line;
  }

  &--yellow {
    background-color: $yellow-line;
  }

  &--red {
    background-color: $red-line;
  }
}
