$font-family: Roboto, "Helvetica Neue", sans-serif;

$light-blue: #5EA2FF;
$main-blue: #2F80ED;
$green-line: #27AE60;
$red-line: #EB5757;
$yellow-line: #F2C94C;

$background-grey: #E5E5E5;
$text-black: #000000;
$text-grey: #929292;
$description-grey: #828282;
$input-background: #EFEFEF;
$button-text-color: #FFFFFF;
$card-hover-btn-color: drop-shadow(2px 0px 4px $main-blue);
$transition: 0.3s;
$hover-shadow: drop-shadow(2px 2px 4px rgba(47, 128, 237, 0.25));
$back-btn-hover: drop-shadow(-2px 2px 4px rgba(47, 128, 237, 0.25));
$black-icon: #000000;
$grey-icon: #4F4F4F;

$description-card-blue-shadow: drop-shadow(5px 10px 10px rgba(47, 128, 237, 0.25));
$description-card-right-shadow: 5px 5px 20px rgba(51, 51, 51, 0.25);
$description-card-img-shadow: drop-shadow(5px 10px 20px rgba(51, 51, 51, 0.25));
