@import "src/styles/mixins";
@import "src/styles/variables";

:host {
  @include flex-center;
  padding: 20px 20px 20px 42px;
}

.description-card {
  position: relative;
  @include flex-center;
  align-items: stretch;
  flex-wrap: nowrap;
  max-width: 1165px;
  padding: 0;
  filter: $description-card-blue-shadow;

  @media (max-width: 850px) {
    flex-wrap: wrap;
    align-items: center;
  }

  &__back-btn {
    @include back-btn;
    position: absolute;
    left: -32px;
    top: 0;
    border-radius: 5px 0 0 5px;
    width: 32px;
    height: 32px;
    background-color: $main-blue;
    border: none;

    &:hover {
      filter: $back-btn-hover;
      cursor: pointer;
    }
  }

  &__link {
    position: relative;
    margin-top: 16px;
    align-self: center;
  }

  &__play-btn {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    z-index: 2;
  }

  &__image {
    width: 100%;
    height: fit-content;
    max-width: 729px;
    margin: 0;
    filter: $description-card-img-shadow;
    border-radius: 0 0 0 5px;

    @media (max-width: 850px) {
      max-width: none;
    }
  }

  &__title {
    @include description-title-font;
    margin-right: 20px;
  }

  &__date {
    @include icon-font;
    color: $description-grey;
  }

  &__description-title {
    font: 400 14px/16px $font-family;
    color: $text-black;
  }

  &__description {
    @include small-font;
    max-height: 400px;
    overflow: auto;
    color: $description-grey;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }
}

.description-card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 435px;
  min-width: 250px;
  box-shadow: $description-card-right-shadow;
  background-color: $background-grey;

  @media (max-width: 850px) {
    max-width: none;
  }
}

.title-wrapper {
  @include flex-center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 35px;
}

.title-wrapper {
  padding-left: 20px;
  padding-right: 10px;
}

.description-wrapper {
  padding: 10px 20px;
}

.mat-card-actions {
  margin: 0;
  padding: 0 0 20px 0;
  align-self: center;
}

.mat-card-footer {
  @include card-footer;
}

.back-btn-svg {
  vertical-align: middle;
}
