@import "src/styles/mixins";
@import "src/styles/variables";

.search-result-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 31px;
  gap: 29px;
  padding-bottom: 20px;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
